<!-- About Section -->
<section class="success" id="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <p>
        I am a dedicated geospatial enthusiast from Hong Kong with a Master of Environmental Science 
        (<strong>Sensing and Spatial Data Science</strong>) at the University of Western Australia, 
        awarded with <strong>Distinction</strong>. I bring a solid foundation in geospatial modelling and analysis.
        </p>

        <p>
        I am passionate about GIS and remote sensing. Through my academic studies, professional experience, and research, I have developed skills in GIS， spatial analysis, remote sensing, environmental modelling, programming, spatial data science and technical report writing.
        I am continuously seeking opportunities to broaden my knowledge and make meaningful contributions to the geospatial community!
        </p>
        <p>
        <strong>Interests: Remote sensing, environmental modelling, microclimate, urban heat island, bushfire</strong>
        </p>

      </div>
    </div>

  </div>
</section>
