<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a dedicated geospatial enthusiast. I bring a solid foundation in geospatial modelling and analysis. I am continuously seeking opportunities to broaden my knowledge and make meaningful contributions to the geospatial community! </p>
      </div>
      <div class="col-lg-4">
        <p>My skills include: spatial analysis, remote sensing, cartography, data management, environmental monitoring and modelling, machine learning for classification, geostatistics analysis, GIS automation, sampling design and technical report writing. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
