<section id="recommendation">

<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Recommendations</h2>
      <hr class="star-primary">
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="recommendation-box">
        <p>
          "You have done so well in this course. Your presentations will be outstanding examples for many years to come in this course."
        </p>
        <h4>— Professor Jinling Wang<br>University of New South Wales / Associate Professor of FOUNDATIONS OF GEODESY AND SPATIAL REFERENCE FRAMES</h4>
      </div>
    </div>

    <div class="col-md-6">
      <div class="recommendation-box">
        <p>
          "Kwan Yu demonstrated strong professionalism and technical GIS capability during the project collaboration."
        </p>
        <h4>— Employer Name<br>Company Name</h4>
      </div>
    </div>

  </div>

</div>

</section>
