<section id="recommendation">

<div class="container">

<div class="row">
<div class="col-lg-12 text-center">
<h2>Recommendations</h2>
<hr class="star-primary">
</div>
</div>

<div class="row">

<div class="col-md-6">
<div class="recommendation-card">

<div class="quote-icon">❝</div>

<p>
You have done so well in this course. Your presentations will be outstanding examples for many years to come.
</p>

<h4>Professor Jinling Wang</h4>
<span class="recommendation-role">
University of New South Wales<br>
Unit Coordinator – Foundations of Geodesy and Spatial Reference Frames
</span>

</div>
</div>


<div class="col-md-6">
<div class="recommendation-card">

<div class="quote-icon">❝</div>

<p>
Her effort and working attitude were highly appreciated.
</p>

<h4>KK Yan</h4>
<span class="recommendation-role">
Director<br>
Waterland Detection Engineering Ltd.
</span>

</div>
</div>


<div class="col-md-6">
<div class="recommendation-card">

<div class="quote-icon">❝</div>

<p>
We observed that Ms. Chuk was attentive to detail and hardworking. She welcomed feedback and demonstrated strong eagerness to learn. We highly recommend her for future employment.
</p>

<h4>Gekko Artificial Intelligence Ltd.</h4>
<span class="recommendation-role">
Employer Recommendation
</span>

</div>
</div>


<div class="col-md-6">
<div class="recommendation-card">

<div class="quote-icon">❝</div>

<p>
Kwan was a professional and pleasant intern. She organised the work very well, making it easy for us to continue. She was wonderful to work with.
</p>

<h4>Dora</h4>
<span class="recommendation-role">
Director<br>
Earthwise Community
</span>

</div>
</div>

</div>

</div>

</section>
