<section id="skill">

<div class="container">

<div class="row">
<div class="col-lg-12 text-center">
<h2>Skills</h2>
<hr class="star-primary">
</div>
</div>

<div class="row text-center">

<div class="col-md-4">
<h3>🌍 GIS & Spatial Analysis</h3>
<p>
Geospatial regression<br>
Hotpot analysis<br>
Geostatistics<br>
Cartography<br>
Spatial visualisation
</p>
</div>

<div class="col-md-4">
<h3>🛰 Remote Sensing</h3>
<p>
Land cover classification<br>
Satellite image analysis<br>
Time series analysis<br>
Bushfire monitoring<br>
Vegetation analysis (eg. NDVI)
</p>
</div>

<div class="col-md-4">
<h3>📈 Modelling</h3>
<p>
Species distribution modelling<br>
Microclimate modelling<br>
Urban heat island modelling<br>
Geospatial machine learning<br>
Lake modelling
</p>
</div>
  
<div class="col-md-4">
<h3>👨‍💻 Programming & Data Science</h3>
<p>
Python, ArcPy<br>
R Studio<br>
JavaScript, HTML, CSS<br>
Data management, SQL, PostgreSQL<br>
pandas, numpy, matplotlib<br>
dplyr, terra, raster, sf
</p>
</div>

<div class="col-md-4">
<h3>📄 Reporting</h3>
<p>
Technical documentation<br>
Scientific report writing<br>
EIA/EMP writing<br>
Survey report writing
</p>
</div>

<div class="col-md-4">
<h3>💻 Software & Hardware</h3>
<p>
GIS: ArcGIS Pro, QGIS, GEE<br>
Survey: QField, Survey123<br>
CAD: AutoCAD, Revit, Civil 3D<br>
Point cloud: ContextCapture, 3DF Zephyr, Cyclone<br>
Arduino: Thermal sensor, GPS sensor
</p>
</div>

</div>

</div>

</section>
