<section id="skill">

<div class="container">

<div class="row">
<div class="col-lg-12 text-center">
<h2>Skills</h2>
<hr class="star-primary">
</div>
</div>

<div class="row text-center">

<div class="col-md-4">
<h3>🌍 GIS & Spatial Analysis</h3>
<p>
ArcGIS | QGIS<br>
Spatial modelling<br>
Geostatistics<br>
Cartography
</p>
</div>

<div class="col-md-4">
<h3>🛰 Remote Sensing</h3>
<p>
Google Earth Engine<br>
Land cover classification<br>
Satellite image analysis<br>
Vegetation monitoring
</p>
</div>

<div class="col-md-4">
<h3>💻 Programming & Data Science</h3>
<p>
Python<br>
Machine learning<br>
Data processing<br>
Visualization
</p>
</div>

</div>

</div>

</section>
